/*
Error: Undefined variable: "$cue-blue-light".
        on line 108 of ./src/sass/index.scss

103: }
104: 
105: .controls {
106:   position: fixed;
107:   height: 16vh;
108:   background-color: $cue-blue-light;
109:   width: 100vw;
110:   bottom: 0;
111:   display: flex;
112:   flex-direction: column;
113:   justify-content: center;

Backtrace:
./src/sass/index.scss:108
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/script/tree/node.rb:50:in `perform'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:402:in `visit_prop'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `map'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `each'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Users/matthewcarpowich/.rvm/gems/ruby-2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$cue-blue-light\".\A         on line 108 of ./src/sass/index.scss\A \A 103: }\A 104: \A 105: .controls {\A 106:   position: fixed;\A 107:   height: 16vh;\A 108:   background-color: $cue-blue-light;\A 109:   width: 100vw;\A 110:   bottom: 0;\A 111:   display: flex;\A 112:   flex-direction: column;\A 113:   justify-content: center;"; }
