$cue-font-primary: 'Tajawal', 'Ubuntu', sans-serif;
$cue-font-secondary: 'Helvetica', sans-serif;
$cue-black: #29292D;
$cue-blue: #2E6DE9;
$cue-blue-lighter: #5487EC;
$cue-blue-lightest: #7EA4F0;
$cue-blue-darker: #1057E3;
$cue-blue-darkest: #083FAA; 
$cue-black-hsl: hsl(240, 5, 17);
$cue-black-mid: hsl(240, 5, 34);
$cue-black-light: hsl(240, 5, 80);
$cue-black-mid-light: hsl(240, 5, 60);
$cue-black-gray: hsl(240, 5, 13);
$cue-white: #F5F5F5;
$cue-black-2: #050505;
$cue-white-2: #FAFAFA;
$cue-white-3: #FCFCFC;
$cue-purple: #7F1AE5;
$cue-shadow: #222225;
$cue-brighter: #2C2C30;
$cue-nav-height: calc((56px + (56 - 24) * (100vw - 360px)/(960-360)) + 16px);
$cue-search-height: calc(100vh - 16vh);
$cue-load-height: calc(50vh - ((56px + (56 - 24) * (100vw - 360px)/(960-360)) + 16px) - 36px);
$cue-main-height: calc(100vh - (((56px + (56 - 24) * (100vw - 360px)/(960-360)) + 16px) * 2));
$cue-logo-font-size: calc(56px + (56 - 24) * (100vw - 360px)/(960-360));
$cue-event-font-size: calc(36px + (24 - 16) * (100vw - 360px)/(960-360));
$cue-button-font-size: calc(32px + (32 - 16) * (100vw - 360px)/(960-360));
$cue-button-width: calc(296px + (592 - 296) * (100vw - 360px)/(960-360));
$cue-input-width: calc(256px + (480 - 256) * (100vw - 360px)/(960-360));
$cue-input-height: calc(32px + (56 - 32) * (100vw - 360px)/(960-360));
$negative-cue-input-height: calc((32px + (56 - 32) * (100vw - 360px)/(960-360)) * -1);
$cue-input-font-size: calc(16px + (40 - 20) * (100vw - 360px)/(960-360));
$cue-logo-offset-left: 1.3vw;
$cue-logo-offset-top: 1.3vw;

html, body {
  margin: 0;
  padding: 0;
  font-family: $cue-font-primary;
  background: $cue-white-2;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: calc($cue-nav-height + 1px);
  width: 100%;
  clear: both;
  z-index: 2;
}

nav.nav-flip {
  background: $cue-black;
  transition: background .3s ease;
}

nav > div > input {
  margin-right: 4vw;
  text-indent: calc(28px + (24 - 20) * (100vw - 360px)/(960-360));
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-icon {
  transform: translateX(calc(26px + (22 - 20) * (100vw - 360px)/(960-360)));
  height: 18px;
  z-index: 11;
}

.search-icon.blue {
  position: absolute;
  transform: translateX(-36px);
}

.fa.fa-search {
  transform: translateX(-8px);
  font-size: 24px;
  color: $cue-black;
  z-index: 10;
}

.fa-search.search-nav {
  transform: translateX(calc(28px + (22 - 20) * (100vw - 360px)/(960-360)));
  background: $cue-black-light;
  padding-left: 4px;
  border-radius: 24px;
  width: 24px;
}

.fa-users, .fa-envelope, .fa-sliders {
  font-size: 32px;
  transition: all .1s ease;
  color: $cue-black-light;
}

.fa-users:hover, .fa-envelope:hover, .fa-sliders:hover {
  cursor: pointer;
}

.fa.selected {
  color: $cue-black;
  transition: all .1s ease;
}

.controls {
  position: fixed;
  height: 16vh;
  background-color: $cue-black;
  width: 100vw;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: no-wrap;
  align-items: center;
  width: 142px;
}

.controls-row > i {
  font-size: 24px; 
  color: $cue-white-2;
  text-align: center;
}

.controls-row > i.fa-play,
.controls-row > i.fa-pause {
  transform: translateX(calc(3px - .09vw));
  z-index: 100;
  color: $cue-white-2;
}

.center-circle {
  align-self: center;
  height: 48px;
  width: 48px;
  border-radius: 25px;
  border: 1px solid $cue-white-2;
  position: absolute;
  top: calc(8vh - 25px);
  left: calc(50vw - 25px);
}

h1 {
  box-sizing: border-box;
  font-size: $cue-logo-font-size;
  font-family: $cue-font-primary;
  font-weight: 700;
  margin: 8px;
  margin-left: 4vw;
  color: $cue-black-light;
  transition: color .3s ease;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 5;
}

.logo {
  font-weight: 200;
}

.logo.logo-flip {
  color: $cue-white;
  z-index: 10;
  transition: color .3s ease;
}

.logo:hover {
  cursor: pointer;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-right-column {
  margin: 0 auto;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: right;
}

.inner-right-column > button {
  padding: 2vh;
}

.page.home {
  justify-content: space-around;
  height: $cue-main-height;
}

.page.join {
  justify-content: flex-start;
}

a {
  text-decoration: none;
  color: $cue-black;
}

h1 > a {
  color: $cue-purple;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

form > label {
  color: $cue-black;
}

.page.create form a {
  font-size: $cue-button-font-size;
  width: $cue-button-width;
  padding: 2.7vh 0;
  align-self: flex-end;
  text-align: right;
}

.page.create form a button {
  padding: 2.7vh 2.7vh;
}

input {
  width: $cue-input-width;
  height: 32px;
  font-family: $cue-font-secondary;
  border: none;
  caret-color: $cue-black;
  background-color: $cue-white-2;
  color: $cue-black;
  font-size: 28px;
  outline: none;
  z-index: 7;
}

.page.create form input {
  border-bottom: 1px solid $cue-black-light;
  padding-bottom: 16px;
}

input.spotify-search {
  background: $cue-black-light;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  width: 220px;
  font-size: 20px;
  z-index: 7;
}

::-webkit-input-placeholder {
   text-indent: 8px;
   color: $cue-black-light;
   font-family: $cue-font-secondary;
   font-size: 32px;
}

:-moz-placeholder { /* Firefox 18- */
   text-indent: 8px;
   color: $cue-black-light;  
   font-family: $cue-font-secondary;
   font-size: 32px;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-indent: 8px;
   color: $cue-black-light; 
   font-family: $cue-font-secondary; 
   font-size: 32px;
}

:-ms-input-placeholder {  
   text-indent: 8px;
   color: $cue-black-light; 
   font-family: $cue-font-secondary;
   font-size: 32px;
}

.search-results {
  transform: translateY($negative-cue-input-height);
  height: $cue-input-height;
  margin: 0 auto;
  width: 100%;
  background: $cue-white-2;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: all .1s ease;
  opacity: 0;
  z-index: 5;
}

.search-results.show {
  height: auto;
  min-height: $cue-input-height;
  transform: translateY(0);
  transition: all .1s ease;
  opacity: 1;
}

.search-result {
  margin: 0 auto;
  height: 64px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $cue-black-light;
}

.search-result:hover {
  color: $cue-black;
  cursor: pointer;
  transition: all .18s ease;
}

.search-result-event-title {
  font-size: 32px;
  font-family: $cue-font-secondary;
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  top: $cue-nav-height;
  left: 10vw;
  height: 300px;
  background-color: $cue-white-2;
  z-index: 20;
  animation-name: comeInModal;
  animation-iteration-count: 1;
  animation-duration: .3s;
  animation-timing-function: easeInOutCubic;
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,.09);
  border-radius: 4px;
  border: 1px solid $cue-white;
  max-height: 66vh;
}

.modal p {
  text-align: center;
  font-size: 24px;
  color: $cue-black;
}

.modal small {
  position: absolute;
  top: 24px;
  color: $cue-black;
  text-align: center;
  width: 72vw;
  left: 4vw;
}

small.small-cancel {
  top: 256px;
  font-size: 12px;
  color: $cue-black-gray;
}

small.small-cancel:hover {
  cursor: pointer;
  color: $cue-shadow;
}

.modal-inner {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.first {
  position: absolute !important;
  top: calc(50vh - 48px);
  margin-top: 0 !important;
}

.sk-circle {
  margin: 100px auto;
  width: 72px;
  height: 72px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: $cue-black-mid;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

//GUEST VIEW
.event-guest {
  width: 90vw;
}

h2.guest-view-event-title {
  text-align: right;
  color: $cue-blue-darkest;
  font-size: $cue-event-font-size;
  padding-bottom: 8px;
  width: 100%;
  margin: 0;
  margin-top: 8px;
}

.event-guest small {
  align-self: flex-end;
  color: $cue-black-light;
  font-size: 12px;
  transition: color .2s ease;
}

.event-guest small:hover {
  cursor: pointer;
  color: $cue-purple;
  transition: color .2s ease;
}

// SPOTIFY SEARCHHHHHHHH //////////
div.spotify-results {
  position: absolute;
  background: $cue-black;
  top: 0;
  left: 0;
  width: 100vw;
  height: $cue-search-height;
  overflow-y: scroll;
  z-index: 6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  animation-name: fader;
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

div.spotify-result {
  margin: 0 auto;
  width: 90vw;
  height: 72px;
  z-index: 11;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: hidden;
  border-bottom: 1px solid $cue-black-light;
}

div.spotify-result-left {
  width: 80%;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
}

div.spotify-song-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

div.spotify-result:nth-child(1) {
  margin-top: $cue-nav-height;
}

div.spotify-results-caption {
  margin-left: 12px;
  margin-right: 12px;
  width: calc(100% - 24px);
  height: 96px;
  z-index: 11;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid $cue-black-light;
}

h4.spotify-song-title {
  margin: 0;
  color: $cue-white;
  font-size: 16px;
  font-family: $cue-font-secondary;
  white-space: nowrap;
}

h5.spotify-song-artist {
  margin: 0;
  margin-right: 4px;
  color: $cue-white;
  font-size: 16px;
  font-family: $cue-font-secondary;
  font-weight: 300;
  white-space: nowrap;
}

h5.spotify-song-album {
  margin: 0;
  color: $cue-black-mid-light;
  font-size: 16px;
  font-family: $cue-font-secondary;
  font-weight: 300;
  white-space: nowrap;
}

span.circle-search {
  color: $cue-black-light;
  font-size: 16px;
  font-weight: 300;
  font-family: $cue-font-secondary;
  margin-right: 4px;
}

button.add-to-cue {
  height: 32px;
  width: 32px;
  border-radius: 50% !important;
  line-height: 32px;
  margin-right: 4px;
  margin-top: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes fader {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// HOST VIEW
.event-host {
  width: 90vw;
}

h2.host-view-event-title {
  text-align: right;
  color: $cue-black-light;
  font-size: $cue-event-font-size;
  padding-bottom: 8px;
  width: 100%;
  margin: 0;
  margin-top: 8px;
}

h2.guest-view-event-title {
  text-align: right;
  color: $cue-black-light;
  font-size: $cue-event-font-size;
  padding-bottom: 8px;
  width: 100%;
  margin: 0;
  margin-top: 8px;
}

h3.host-view-page-title {
  color: $cue-black;
  align-self: flex-start;
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 16px;
  padding-top: 8px;
}

h3.host-view-page-title.host-indicator {
  color: $cue-purple;
  margin-bottom: 24px;
  margin-top: -13px;
  font-size: 16px;
  align-self: flex-end;
}

.host-view-page-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: nowrap;
  overflow-y: scroll;
  max-height: 50vh;
}

ul.host-view-page-list > li {
  margin: 0;
  width: calc(100% - 12px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid $cue-black-light;
  color: $cue-black;
  padding-top: 32px;
  padding-bottom: 60px;
  padding-left: 12px;
  animation-name: elEye;
  animation-duration: .4s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  height: 64px;
}

ul.host-view-page-list.guests > li {
  padding-bottom: 32px;
}

ul.host-view-page-list > li > img {
  height: 40px;
  width: 40px;
  border-radius: 24px;
  margin-right: 12px;
}

.please-fade {
  animation-name: elEye;
  animation-duration: .4s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

@keyframes elEye {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

ul.host-view-page-list > li:nth-child(1) {
  border-top: none;
}

.host-request-options {
  align-self: flex-end;
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transform: translateX(-12px);
}

.host-request-options > button:nth-child(2) {
  margin-left: 12px;
}

ul.host-view-page-list > li > div > p {
  margin: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.notification-top-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

div.guest-photo {
  margin: 0;
  margin-left: 16px;
  margin-right: 16px;
  height: $cue-input-height;
  width: $cue-input-height;
  border-radius: 50%;
  background-color: $cue-white;
  background-position: center;
  background-size: cover;
}

.host-circles {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: flex-start;
  width: 120px;
  margin-bottom: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.host-circles > .notifications {
  animation-name: notify;
  animation-timing-function: ease;
  animation-duration: .2s;
  animation-iteration-count: 1;
  font-size: 13px;
  position: absolute;
  top: -6px;
  left: 68px;
  color: white;
  background: #F90A3D;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes notify {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: $cue-white-2;
  border: 1px solid $cue-black-light;
}

.circle.circle-selected {
  background-color: $cue-black-light;
}

.circle:hover {
  cursor: pointer;
}

//////////////////////////////

@keyframes comeInModal {
  0% {
    transform: translateY(calc(100vh - 300px));
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

button {
  background: $cue-black;
  font-family: $cue-font-primary;
  color: $cue-white-2;
  height: 64px;
  font-weight: 300;
  box-sizing: border-box;
  border-radius: 32px;
  transition: all .18s ease-out;
  font-size: 14px;
  outline: none;
  z-index: 12;
}

.button-host {
  width: 96px;
  background: none;
  text-align: right;
  color: $cue-black;
  border: none;
}

.button-host-request {
  width: 72px;
  height: 28px;
  border-radius: 1em;
  background: $cue-black-light;
  font-size: 14px;
  line-height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $cue-black;
  border: 1px solid $cue-black-light;
  font-weight: 400;
}

.button-host-request:hover {
  background: $cue-black-light;
}

.button-host:hover {
  background: none !important;
}

.btn-home {
  font-size: 32px;
  width: $cue-button-width;
  padding: 2.7vh 0;
}

.btn-small {
  font-size: 18px;
  width: 128px;
  background: none;
  color: $cue-black;
  border: none;
  box-sizing: border-box;
}

.btn-create {
  font-size: 14px;
  padding: 8px 16px;
  align-self: flex-end;
  height: $cue-input-height;
  margin-top: 8px;
}

.btn-join {
  font-size: 14px;
  padding: 8px 16px;
  height: $cue-input-height;
}

.btn-login {
  align-self: flex-end;
  margin-top: 12px;
  width: 96px;
  font-size: 16px;
  height: $cue-input-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-submit {
  align-self: flex-end;
  text-align: center;
  background: $cue-black-light;
  height: 32px;
  border-radius: 16px;
  margin-top: 12px;
  width: 80px;
  line-height: 32px;
}

button.btn-home:nth-child(1) {
  margin-bottom: -4vh;
}

button.btn-home:nth-child(2) {
  margin-top: -4vh;
}

button:hover {
  cursor: pointer;
  transition: all .18s easeInOutCirc;
  background: $cue-black-mid;
}

.btn-small:hover {
  background: none;
  color: $cue-black-2;
}

button:active {
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,.09);
  transform: translateX(0px);
  transform: translateY(0px);
  transition: all .2s easeInOutCirc;
}

.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 400px) {
  h1 {
    transform: translateY(.2vw);
  }
}

@media screen and (min-width: 768px) {
  h1 {
    transform: translateX(.3vw);
  }
}
