$cue-font-primary: 'Ubuntu', sans-serif;
$cue-font-secondary: 'Helvetica', sans-serif;
$cue-black: #29292D;
$cue-white: #F5F5F5;
$cue-purple: #7F1AE5;
$cue-shadow: #222225;
$cue-brighter: #2C2C30;
$cue-nav-height: calc((56px + (56 - 24) * (100vw - 360px)/(960-360)) + 16px);
$cue-main-height: calc(100vh - (((56px + (56 - 24) * (100vw - 360px)/(960-360)) + 16px) * 2));
$cue-logo-font-size: calc(56px + (56 - 24) * (100vw - 360px)/(960-360));
$cue-button-font-size: calc(32px + (32 - 16) * (100vw - 360px)/(960-360));
$cue-button-width: calc(296px + (592 - 296) * (100vw - 360px)/(960-360));
$cue-input-width: calc(256px + (480 - 256) * (100vw - 360px)/(960-360));
$cue-input-height: calc(32px + (56 - 32) * (100vw - 360px)/(960-360));
$negative-cue-input-height: calc((32px + (56 - 32) * (100vw - 360px)/(960-360)) * -1);
$cue-input-font-size: calc(16px + (40 - 20) * (100vw - 360px)/(960-360));
$cue-logo-offset-left: 1.3vw;
$cue-logo-offset-top: 1.3vw;

html, body {
  margin: 0;
  padding: 0;
  font-family: $cue-font-primary;
  background: $cue-black;
  -webkit-font-smoothing: antialiased;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

nav {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  height: $cue-nav-height;
  width: 100%;
  background: $cue-black;
  clear: both;
  z-index: 2;
}

nav > div {
  height: 100%;
  width: 200px;
  background: $cue-black;
  position: relative;
  left: 20vw;
}

h1 {
  box-sizing: border-box;
  font-size: $cue-logo-font-size;
  font-family: $cue-font-primary;
  font-weight: 700;
  margin: 8px;
  color: $cue-purple;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: $cue-main-height;
  z-index: 5;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-right-column {
  margin: 0 auto;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: right;
}

.inner-right-column > button {
  padding: 2vh;
}

.page.home {
  justify-content: space-around;
}

.page.join {
  justify-content: flex-start;
}

a {
  text-decoration: none;
  color: $cue-white;
}

h1 > a {
  color: $cue-purple;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

form > label {
  color: $cue-white;
}

.page.create form a {
  font-size: $cue-button-font-size;
  width: $cue-button-width;
  padding: 2.7vh 0;
  align-self: flex-end;
  text-align: right;
}

.page.create form a button {
  padding: 2.7vh 2.7vh;
}

input {
  width: $cue-input-width;
  height: $cue-input-height;
  font-family: $cue-font-secondary;
  border: 1px solid rgba(256, 256, 256, .1);
  border-radius: 4px;
  text-indent: 4px;
  background-color: $cue-brighter;
  color: $cue-white;
  font-size: $cue-input-font-size;
  outline: none;
  z-index: 7;
}

.search-results {
  transform: translateY($negative-cue-input-height);
  height: $cue-input-height;
  margin: 0 auto;
  width: 100%;
  background: $cue-purple;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: all .1s ease;
  opacity: 0;
  z-index: 5;
}

.search-results.show {
  height: auto;
  min-height: $cue-input-height;
  transform: translateY(0);
  transition: all .1s ease;
  opacity: 1;
}

.search-result {
  margin: 0 auto;
  height: $cue-input-height;
  width: calc(100% - 16px);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $cue-white;
  padding: 0 8px;
}

.search-result:hover {
  background-color: $cue-shadow;
  cursor: pointer;
}

.search-result-event-title {
  font-size: $cue-input-font-size;
  font-family: $cue-font-secondary;
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  left: 10vw;
  height: 300px;
  background-color: $cue-brighter;
  z-index: 10;
  animation-name: comeInModal;
  animation-iteration-count: 1;
  animation-duration: .3s;
  animation-timing-function: easeInOutCubic;
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,.09);
  border-radius: 4px;
  border: 1px solid $cue-white;
}

.modal p {
  text-align: center;
  font-size: 24px;
  color: $cue-white;
}

.modal-inner {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// HOST VIEW
.event-host {
  width: 90vw;
}

h2.host-view-event-title {
  text-align: right;
  color: $cue-white;
  font-size: $cue-button-font-size;
  align-self: flex-end;
  padding-bottom: 8px;
  border-bottom: 1px solid $cue-purple;
  width: 100%;
  margin: 0;
  margin-bottom: 16px;
}

h3.host-view-page-title {
  color: $cue-white;
  align-self: flex-start;
  margin: 0;
  font-size: $cue-button-font-size;
  font-weight: 300;
  margin-bottom: 12px;
}

.host-view-page-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 1px solid $cue-white;
}

ul.host-view-page-list > li {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid $cue-white;
  color: $cue-white;
  padding: 2vh 0;
}

.host-request-options {
  align-self: flex-end;
}

.host-request-options > button:nth-child(2) {
  margin-left: 8px;
}

ul.host-view-page-list > li > p {
  margin: 0;
}

div.guest-photo {
  margin: 0;
  margin-left: 16px;
  margin-right: 16px;
  height: $cue-input-height;
  width: $cue-input-height;
  border-radius: 50%;
  background-color: $cue-white;
  background-position: center;
  background-size: cover;
}

.host-circles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: flex-start;
  width: 88px;
  margin-bottom: 24px;
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: $cue-black;
  border: 1px solid $cue-white;
}

.circle.circle-selected {
  background-color: $cue-white;
}

.circle:hover {
  cursor: pointer;
}

//////////////////////////////

@keyframes comeInModal {
  0% {
    transform: translateY(calc(100vh - 300px));
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

button {
  background: none;
  font-family: $cue-font-primary;
  color: $cue-white;
  border-radius: 6px;
  transition: all .2s ease-out;
  outline: none;
}

.btn-home {
  font-size: $cue-button-font-size;
  width: $cue-button-width;
  padding: 2.7vh 0;
}

.btn-create {
  font-size: 14px;
  padding: 8px 16px;
  align-self: flex-end;
  height: $cue-input-height;
  margin-top: 8px;
}

.btn-join {
  font-size: 14px;
  padding: 8px 16px;
  height: $cue-input-height;
}

button.btn-home:nth-child(1) {
  margin-bottom: -4vh;
}

button.btn-home:nth-child(2) {
  margin-top: -4vh;
}

button:hover {
  cursor: pointer;
  box-shadow: 10px 10px 37px 5px rgba(0,0,0,0.4);
  transition: all .2s easeInOutCirc;
  transform: translateX(-2px);
  transform: translateY(-2px);
  background: rgba(256, 256, 256, .01);
}

button:active {
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,.09);
  transform: translateX(0px);
  transform: translateY(0px);
  transition: all .2s easeInOutCirc;
}

@media screen and (max-width: 400px) {
  h1 {
    transform: translateY(.2vw);
  }
}

@media screen and (min-width: 768px) {
  h1 {
    transform: translateX(.3vw);
  }
}
