html, body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background: #29292D;
  -webkit-font-smoothing: antialiased; }

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

nav {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  height: calc((56px + (56 - 24) * (100vw - 360px)/(960-360)) + 16px);
  width: 100%;
  background: #29292D;
  clear: both;
  z-index: 2; }

nav > div {
  height: 100%;
  width: 200px;
  background: #29292D;
  position: relative;
  left: 20vw; }

h1 {
  box-sizing: border-box;
  font-size: calc(56px + (56 - 24) * (100vw - 360px)/(960-360));
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  margin: 8px;
  color: #7F1AE5; }

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - (((56px + (56 - 24) * (100vw - 360px)/(960-360)) + 16px) * 2));
  z-index: 5; }

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.view {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.inner-right-column {
  margin: 0 auto;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: right; }

.inner-right-column > button {
  padding: 2vh; }

.page.home {
  justify-content: space-around; }

.page.join {
  justify-content: flex-start; }

a {
  text-decoration: none;
  color: #F5F5F5; }

h1 > a {
  color: #7F1AE5; }

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%; }

form > label {
  color: #F5F5F5; }

.page.create form a {
  font-size: calc(32px + (32 - 16) * (100vw - 360px)/(960-360));
  width: calc(296px + (592 - 296) * (100vw - 360px)/(960-360));
  padding: 2.7vh 0;
  align-self: flex-end;
  text-align: right; }

.page.create form a button {
  padding: 2.7vh 2.7vh; }

input {
  width: calc(256px + (480 - 256) * (100vw - 360px)/(960-360));
  height: calc(32px + (56 - 32) * (100vw - 360px)/(960-360));
  font-family: "Helvetica", sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  text-indent: 4px;
  background-color: #2C2C30;
  color: #F5F5F5;
  font-size: calc(16px + (40 - 20) * (100vw - 360px)/(960-360));
  outline: none;
  z-index: 7; }

.search-results {
  transform: translateY(calc((32px + (56 - 32) * (100vw - 360px)/(960-360)) * -1));
  height: calc(32px + (56 - 32) * (100vw - 360px)/(960-360));
  margin: 0 auto;
  width: 100%;
  background: #7F1AE5;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: all .1s ease;
  opacity: 0;
  z-index: 5; }

.search-results.show {
  height: auto;
  min-height: calc(32px + (56 - 32) * (100vw - 360px)/(960-360));
  transform: translateY(0);
  transition: all .1s ease;
  opacity: 1; }

.search-result {
  margin: 0 auto;
  height: calc(32px + (56 - 32) * (100vw - 360px)/(960-360));
  width: calc(100% - 16px);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #F5F5F5;
  padding: 0 8px; }

.search-result:hover {
  background-color: #222225;
  cursor: pointer; }

.search-result-event-title {
  font-size: calc(16px + (40 - 20) * (100vw - 360px)/(960-360));
  font-family: "Helvetica", sans-serif; }

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  left: 10vw;
  height: 300px;
  background-color: #2C2C30;
  z-index: 10;
  animation-name: comeInModal;
  animation-iteration-count: 1;
  animation-duration: .3s;
  animation-timing-function: easeInOutCubic;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  border: 1px solid #F5F5F5; }

.modal p {
  text-align: center;
  font-size: 24px;
  color: #F5F5F5; }

.modal-inner {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.modal-loading {
  background-color: #E7E7E7; }

.loader {
  height: 72px;
  width: 72px;
  animation-name: theLoader;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite; }

@keyframes theLoader {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.event-host {
  width: 90vw; }

h2.host-view-event-title {
  text-align: right;
  color: #F5F5F5;
  font-size: calc(32px + (32 - 16) * (100vw - 360px)/(960-360));
  align-self: flex-end;
  padding-bottom: 8px;
  border-bottom: 1px solid #7F1AE5;
  width: 100%;
  margin: 0;
  margin-bottom: 16px; }

h3.host-view-page-title {
  color: #F5F5F5;
  align-self: flex-start;
  margin: 0;
  font-size: calc(32px + (32 - 16) * (100vw - 360px)/(960-360));
  font-weight: 300;
  margin-bottom: 12px; }

.host-view-page-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 1px solid #F5F5F5; }

ul.host-view-page-list > li {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #F5F5F5;
  color: #F5F5F5;
  padding: 2vh 0; }

.host-request-options {
  align-self: flex-end; }

.host-request-options > button:nth-child(2) {
  margin-left: 8px; }

ul.host-view-page-list > li > p {
  margin: 0; }

div.guest-photo {
  margin: 0;
  margin-left: 16px;
  margin-right: 16px;
  height: calc(32px + (56 - 32) * (100vw - 360px)/(960-360));
  width: calc(32px + (56 - 32) * (100vw - 360px)/(960-360));
  border-radius: 50%;
  background-color: #F5F5F5;
  background-position: center;
  background-size: cover; }

.host-circles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: flex-start;
  width: 88px;
  margin-bottom: 24px; }

.circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #29292D;
  border: 1px solid #F5F5F5; }

.circle.circle-selected {
  background-color: #F5F5F5; }

.circle:hover {
  cursor: pointer; }

@keyframes comeInModal {
  0% {
    transform: translateY(calc(100vh - 300px));
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
button {
  background: none;
  font-family: "Ubuntu", sans-serif;
  color: #F5F5F5;
  border-radius: 6px;
  transition: all .2s ease-out;
  outline: none; }

.btn-home {
  font-size: calc(32px + (32 - 16) * (100vw - 360px)/(960-360));
  width: calc(296px + (592 - 296) * (100vw - 360px)/(960-360));
  padding: 2.7vh 0; }

.btn-create {
  font-size: 14px;
  padding: 8px 16px;
  align-self: flex-end;
  height: calc(32px + (56 - 32) * (100vw - 360px)/(960-360));
  margin-top: 8px; }

.btn-join {
  font-size: 14px;
  padding: 8px 16px;
  height: calc(32px + (56 - 32) * (100vw - 360px)/(960-360)); }

button.btn-home:nth-child(1) {
  margin-bottom: -4vh; }

button.btn-home:nth-child(2) {
  margin-top: -4vh; }

button:hover {
  cursor: pointer;
  box-shadow: 10px 10px 37px 5px rgba(0, 0, 0, 0.4);
  transition: all .2s easeInOutCirc;
  transform: translateX(-2px);
  transform: translateY(-2px);
  background: rgba(255, 255, 255, 0.01); }

button:active {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.09);
  transform: translateX(0px);
  transform: translateY(0px);
  transition: all .2s easeInOutCirc; }

@media screen and (max-width: 400px) {
  h1 {
    transform: translateY(0.2vw); } }
@media screen and (min-width: 768px) {
  h1 {
    transform: translateX(0.3vw); } }

/*# sourceMappingURL=index.css.map */
